html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    /* background-color: blueviolet; */
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
.nav-part2{
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    align-items: center;
}
.nav h2{
    font-size: 2vw;
    font-weight: 700;
}
.nav h4{
    font-size: 1vw;
}